.owner
	%p
		You easily break through
		= "<a href='https://twitter.com/#{@mytrade.from}'>#{@mytrade.from}</a>'s"
		laser security system with your cat like reflexes and find yourself
		in their altar with ease.
	%p
		The radiance of witnessing the nojcoin in person is
		hypnotyzing...so much so that you forgot about
		= "<a href='https://twitter.com/#{@mytrade.from}'>#{@mytrade.from}</a>'s"
		heat sensors!
	%p
		In the midst of red flashing lights and sirens, you quickly grab the nojcoin
		and run forth.  Though in your haste, it appears it may have suffered some
		damage.
.actions
	.action
		[
		%a{ :href => "/" } phew, at least that's over
		]
		[
		%a{ :href => "/mock/#{@mytrade.id}" } in your FACE!
		]
